{% extends "myapp/base.html" %}
{% block title %}Tabelka z danymi{% endblock %}
{% block content %}
    <table border="1">
        <tr>
            <th>id
            <th>Nazwa
            <th>Treść
            <th>Data
            <th>Akcja
        {% for post in posts %}
        <tr>
            <td>{{ post.id }}
            <td>{{ post.title }}
            <td>{{ post.content }}
            <td>{{ post.created_at }}
            <td><a href="{% url 'update_post' post.id %}">Edytuj</a>
                <a href="{% url 'delete_post' post.id %}">Usuń</a>
        {% empty %}
        <tr>
            <td colspan="3">Brak danych do wyświetlenia!
        {% endfor %}
    </table>
<hr>
<a href="{% url 'create_post' %}">Dodaj post</a>
{% endblock %}